@media (max-width:414px){
   
    .menu{
        display: none;
        padding: 8px;
        border-bottom: 1px, solid,#3333337d;
        min-width: 150px;
    }

    .menu-handler{
        display: block!important;
        
    }

    
    .menu-handler:focus-within + .menu{
        display: block;
    }
    
}

@media (min-width:768px) and (max-width:1024px){


    .menu-bar .menu{
        float:left;
        margin-left: 40px;
    }


}

.menu-handler{
    display: none;
}